<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>ア</string>
	<key>1</key>
	<string>イ</string>
	<key>2</key>
	<string>ウ</string>
	<key>3</key>
	<string>エ</string>
	<key>4</key>
	<string>オ</string>
	<key>5</key>
	<string>カ</string>
	<key>6</key>
	<string>キ</string>
	<key>7</key>
	<string>ク</string>
	<key>8</key>
	<string>ケ</string>
	<key>9</key>
	<string>コ</string>
	<key>10</key>
	<string>サ</string>
	<key>11</key>
	<string>シ</string>
	<key>12</key>
	<string>ス</string>
	<key>13</key>
	<string>セ</string>
	<key>14</key>
	<string>ソ</string>
	<key>15</key>
	<string>タ</string>
	<key>16</key>
	<string>チ</string>
	<key>17</key>
	<string>ツ</string>
	<key>18</key>
	<string>テ</string>
	<key>19</key>
	<string>ト</string>
	<key>20</key>
	<string>ナ</string>
	<key>21</key>
	<string>二</string>
	<key>22</key>
	<string>ヌ</string>
	<key>23</key>
	<string>ネ</string>
	<key>24</key>
	<string>ノ</string>
	<key>25</key>
	<string>ハ</string>
	<key>26</key>
	<string>ヒ</string>
	<key>27</key>
	<string>フ</string>
	<key>28</key>
	<string>ヘ</string>
	<key>29</key>
	<string>ホ</string>
	<key>30</key>
	<string>マ</string>
	<key>31</key>
	<string>ミ</string>
	<key>32</key>
	<string>ム</string>
	<key>33</key>
	<string>メ</string>
	<key>34</key>
	<string>モ</string>
	<key>35</key>
	<string>ヤ</string>
	<key>36</key>
	<string>ユ</string>
	<key>37</key>
	<string>ヨ</string>
	<key>38</key>
	<string>ラ</string>
	<key>39</key>
	<string>リ</string>
	<key>40</key>
	<string>ル</string>
	<key>41</key>
	<string>レ</string>
	<key>42</key>
	<string>ロ</string>
	<key>43</key>
	<string>ン</string>
	<key>500</key>
	<string>ガ</string>
	<key>600</key>
	<string>ギ</string>
	<key>601</key>
	<string>キャ</string>
	<key>602</key>
	<string>キュ</string>
	<key>603</key>
	<string>キョ</string>
	<key>604</key>
	<string>ギャ</string>
	<key>605</key>
	<string>ギュ</string>
	<key>606</key>
	<string>ギョ</string>
	<key>700</key>
	<string>グ </string>
	<key>800</key>
	<string>ゲ</string>
	<key>900</key>
	<string>ゴ</string>
	<key>1000</key>
	<string>ザ</string>
	<key>1100</key>
	<string>ジ</string>
	<key>1101</key>
	<string>シャ</string>
	<key>1102</key>
	<string>シュ</string>
	<key>1103</key>
	<string>ショ</string>
	<key>1104</key>
	<string>ジャ</string>
	<key>1105</key>
	<string>ジュ</string>
	<key>1106</key>
	<string>ジョ</string>
	<key>1200</key>
	<string>ズ</string>
	<key>1300</key>
	<string>ゼ</string>
	<key>1400</key>
	<string>ゾ</string>
	<key>1500</key>
	<string>ダ</string>
	<key>1600</key>
	<string>ヂ</string>
	<key>1601</key>
	<string>チャ</string>
	<key>1602</key>
	<string>チュ</string>
	<key>1603</key>
	<string>チョ</string>
	<key>1604</key>
	<string>ヂャ</string>
	<key>1605</key>
	<string>ヂュ</string>
	<key>1606</key>
	<string>ヂョ</string>
	<key>1700</key>
	<string>ヅ</string>
	<key>1800</key>
	<string>デ</string>
	<key>1900</key>
	<string>ド</string>
	<key>2100</key>
	<string>ニャ</string>
	<key>2101</key>
	<string>ニュ</string>
	<key>2102</key>
	<string>ニョ</string>
	<key>2500</key>
	<string>バ</string>
	<key>2501</key>
	<string>パ</string>
	<key>2600</key>
	<string>ビ</string>
	<key>2601</key>
	<string>ピ</string>
	<key>2602</key>
	<string>ビャ</string>
	<key>2603</key>
	<string>ビュ</string>
	<key>2604</key>
	<string>ビョ</string>
	<key>2605</key>
	<string>ピャ</string>
	<key>2606</key>
	<string>ピュ</string>
	<key>2607</key>
	<string>ピョ</string>
	<key>2701</key>
	<string>ブ</string>
	<key>2702</key>
	<string>プ</string>
	<key>2801</key>
	<string>ベ</string>
	<key>2802</key>
	<string>ペ</string>
	<key>2901</key>
	<string>ボ</string>
	<key>2902</key>
	<string>ポ</string>
	<key>3100</key>
	<string>ミャ</string>
	<key>3101</key>
	<string>ミュ</string>
	<key>3102</key>
	<string>ミョ</string>
	<key>3900</key>
	<string>リャ</string>
	<key>3901</key>
	<string>リュ</string>
	<key>3902</key>
	<string>リョ</string>
</dict>
</plist>
