<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>a</string>
	<key>1</key>
	<string>i</string>
	<key>2</key>
	<string>u</string>
	<key>3</key>
	<string>e</string>
	<key>4</key>
	<string>o</string>
	<key>5</key>
	<string>ka</string>
	<key>6</key>
	<string>ki</string>
	<key>7</key>
	<string>ku</string>
	<key>8</key>
	<string>ke</string>
	<key>9</key>
	<string>ko</string>
	<key>10</key>
	<string>sa</string>
	<key>11</key>
	<string>shi</string>
	<key>12</key>
	<string>su</string>
	<key>13</key>
	<string>se</string>
	<key>14</key>
	<string>so</string>
	<key>15</key>
	<string>ta</string>
	<key>16</key>
	<string>chi</string>
	<key>17</key>
	<string>tsu</string>
	<key>18</key>
	<string>te</string>
	<key>19</key>
	<string>to</string>
	<key>20</key>
	<string>na</string>
	<key>21</key>
	<string>ni</string>
	<key>22</key>
	<string>nu</string>
	<key>23</key>
	<string>ne</string>
	<key>24</key>
	<string>no</string>
	<key>25</key>
	<string>ha</string>
	<key>26</key>
	<string>hi</string>
	<key>27</key>
	<string>fu</string>
	<key>28</key>
	<string>he</string>
	<key>29</key>
	<string>ho</string>
	<key>30</key>
	<string>ma</string>
	<key>31</key>
	<string>mi</string>
	<key>32</key>
	<string>mu</string>
	<key>33</key>
	<string>me</string>
	<key>34</key>
	<string>mo</string>
	<key>35</key>
	<string>ya</string>
	<key>36</key>
	<string>yu</string>
	<key>37</key>
	<string>yo</string>
	<key>38</key>
	<string>ra</string>
	<key>39</key>
	<string>ri</string>
	<key>40</key>
	<string>ru</string>
	<key>41</key>
	<string>re</string>
	<key>42</key>
	<string>ro</string>
	<key>43</key>
	<string>n</string>
	<key>500</key>
	<string>ga</string>
	<key>600</key>
	<string>gi</string>
	<key>601</key>
	<string>kya</string>
	<key>602</key>
	<string>kyu</string>
	<key>603</key>
	<string>kyo</string>
	<key>604</key>
	<string>gya</string>
	<key>605</key>
	<string>gyu</string>
	<key>606</key>
	<string>gyo</string>
	<key>700</key>
	<string>gu</string>
	<key>800</key>
	<string>ge</string>
	<key>900</key>
	<string>go</string>
	<key>1000</key>
	<string>za</string>
	<key>1100</key>
	<string>ji</string>
	<key>1101</key>
	<string>sha</string>
	<key>1102</key>
	<string>shu</string>
	<key>1103</key>
	<string>sho</string>
	<key>1104</key>
	<string>ja</string>
	<key>1105</key>
	<string>ju</string>
	<key>1106</key>
	<string>jo</string>
	<key>1200</key>
	<string>zu</string>
	<key>1300</key>
	<string>ze</string>
	<key>1400</key>
	<string>zo</string>
	<key>1500</key>
	<string>da</string>
	<key>1600</key>
	<string>ji</string>
	<key>1601</key>
	<string>cha</string>
	<key>1602</key>
	<string>chu</string>
	<key>1603</key>
	<string>cho</string>
	<key>1604</key>
	<string>ja</string>
	<key>1605</key>
	<string>ju</string>
	<key>1606</key>
	<string>jo</string>
	<key>1700</key>
	<string>zu</string>
	<key>1800</key>
	<string>de</string>
	<key>1900</key>
	<string>do</string>
	<key>2100</key>
	<string>nya</string>
	<key>2101</key>
	<string>nyu</string>
	<key>2102</key>
	<string>nyo</string>
	<key>2500</key>
	<string>ba</string>
	<key>2501</key>
	<string>pa</string>
	<key>2600</key>
	<string>bi</string>
	<key>2601</key>
	<string>pi</string>
	<key>2602</key>
	<string>bya</string>
	<key>2603</key>
	<string>byu</string>
	<key>2604</key>
	<string>byo</string>
	<key>2605</key>
	<string>pya</string>
	<key>2606</key>
	<string>pyu</string>
	<key>2607</key>
	<string>pyo</string>
	<key>2701</key>
	<string>bu</string>
	<key>2702</key>
	<string>pu</string>
	<key>2801</key>
	<string>be</string>
	<key>2802</key>
	<string>pe</string>
	<key>2901</key>
	<string>bo</string>
	<key>2902</key>
	<string>po</string>
	<key>3100</key>
	<string>mya</string>
	<key>3101</key>
	<string>myu</string>
	<key>3102</key>
	<string>myo</string>
	<key>3900</key>
	<string>rya</string>
	<key>3901</key>
	<string>ryu</string>
	<key>3902</key>
	<string>ryo</string>
</dict>
</plist>
